data/DHFR/DHFR_fitness_data_wt.csv filter=lfs diff=lfs merge=lfs -text
data/DHFR/FL_surrogate_training_data.csv filter=lfs diff=lfs merge=lfs -text
data/DHFR/surrogate_training_data.csv filter=lfs diff=lfs merge=lfs -text
data/TFBIND8/FL_surrogate_training_data.csv filter=lfs diff=lfs merge=lfs -text
data/TFBIND8/surrogate_training_data.csv filter=lfs diff=lfs merge=lfs -text
data/TFBIND8/tf_bind_8.csv filter=lfs diff=lfs merge=lfs -text
data/TRPB/FL_surrogate_training_data.csv filter=lfs diff=lfs merge=lfs -text
data/TRPB/four-site_simplified_AA_data.csv filter=lfs diff=lfs merge=lfs -text
data/TRPB/surrogate_training_data.csv filter=lfs diff=lfs merge=lfs -text
data/GFP/ground_truth.csv filter=lfs diff=lfs merge=lfs -text
data/GFP/FL_surrogate_training_data.csv filter=lfs diff=lfs merge=lfs -text
data/GFP/surrogate_training_data.csv filter=lfs diff=lfs merge=lfs -text
data/AAV/surrogate_training_data.csv filter=lfs diff=lfs merge=lfs -text
data/AAV/FL_surrogate_training_data.csv filter=lfs diff=lfs merge=lfs -text
data/AAV/ground_truth.csv filter=lfs diff=lfs merge=lfs -text
models/aav_cnn_oracle.pt filter=lfs diff=lfs merge=lfs -text
models/gfp_cnn_oracle.pt filter=lfs diff=lfs merge=lfs -text
data/rfp_pdbs/proxy_rfp_seed_data.csv filter=lfs diff=lfs merge=lfs -text
data/rfp_pdbs/rfp_training_cache.csv filter=lfs diff=lfs merge=lfs -text
